* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  overscroll-behavior: none;
}

#root {
  min-height: 100vh;
}

button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
